body {
  
    box-sizing: inherit;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h4 {
    font-size: 20px;
}

h1 {
    font-size: 48px;
}

.header::after,
.menu-float::after,
.list-ul::after,
.list-li::after,
p::after {
    display: block;
    content: "";
    clear: both;
}

.header {
    padding: 10px 20px;
    background: #000;
    color: #fff;
}

.hover-icon {
    padding: 10px 15px;
}

.hover-icon:hover,
.span-right:hover,
.f:hover,
.a-menu:hover {
    background: #ddd !important;
}

.center {
    text-align: center;
}

.div-button {
    padding: 36px;

}

.button-header {
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 900;
    border: none;
    color: #fff;
    background: #616161;
}

.button-header:hover,
.menu-section:hover,
.a-footer:hover,
.button-footer:hover {
    background-color: rgb(163, 159, 159);
    color: #000;
}

.menu-float {
    width: 100%;
    padding: 0 8px;
    margin-top: 20px;
}

.menu-float-small {
    width: 33.333%;
    float: left;
    padding: 0 8px;

}

.div-border {
    padding: 0 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    min-height: 460px;
}

.div-padding {
    padding: 0 16px;
    margin-top: 20px;
}

.menu-float-small5 {
    width: 20%;
    float: left;
    padding: 15px 20px;
    color: #fff;
}

.content-menu-float {
    padding: 20px;
}

.span-right {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.div-nau {
    background: #607d8b;
    color: #fff;
}

.list-ul {
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.list-li {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.div-border2 {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    width: 100%;
    margin-bottom: 20px;
}

.style-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.tr-black {
    color: #fff;
    background-color: #000;
    border-bottom: 1px solid #ddd;
}

th {
    padding-left: 16px;
}

th,
td {
    padding: 8px;
}

tr {
    border-bottom: 1px solid #ddd;
}

.input-form {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

.input-checkbox {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}

.span-form {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;

}

.div-big {
    width: 100%;
    background: #f1f1f1;
}

.div-small {
    width: 5%;
    color: #fff;
    background: #000;
    padding: 15px 0;
}

.button-div-small {
    background: #000;
    color: #fff;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
}

.button-div-small:hover {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 50%);
}

.a-menu {
    display: block;
    padding: 15px 20px;
    float: left;
    color: #fff;
}

a {
    text-decoration: none;

}

.menu-section {
    padding: 20px;
    color: #fff;
    background: #000;
    text-align: left;
}

.menu-tabs {
    text-align: left;
    border: 1px solid #ddd;
}

.button-footer {
    padding: 15px 20px;
    border: none;
    background: #000;
    color: #fff;
}

.a-footer {
    font-size: 18px;
    border-radius: 50%;
    color: #fff;
    background: #000;
    padding: 8px 16px;
}

.menu-a-footer {
    padding: 8px 16px;
    color: #000;
    float: left;
}

.footer {
    padding: 20px;
    background: #000;
    color: #fff;
    margin-top: 50px;
}

.menu-a-footer:hover {
    background: #000;
    color: #fff;
}

.div-inline {
    width: auto;
    display: inline-block;
}

hr {
    opacity: 0.5;
    margin: 20px 0;
}